.carousel {
    max-height: 400px;
    overflow: hidden;
  }
  
  .carousel img {
    max-height: 400px;
    object-fit: cover;
  }

h1{
    font-family: "Lora", serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}